<div class="fields">
  <fieldset>
    <div class="clearfix string required">
      <%= f.label :first_name, "<abbr title=\"required\">*</abbr> #{raw t ".first_name.label"}".html_safe, :class => "string required" %>
      <div class="input">
        <%= f.text_field :first_name, :class => "large string required", :size => 30, "data-validate" => "true" %>
      </div>
    </div>

    <div class="clearfix string required">
      <%= f.label :last_name, "<abbr title=\"required\">*</abbr> #{raw t ".last_name.label"}".html_safe, :class => "string required" %>
      <div class="input">
        <%= f.text_field :last_name, :class => "large string required", :size => 30, "data-validate" => "true" %>
      </div>
    </div>

    <div class="clearfix string required">
      <%= f.label :email, "<abbr title=\"required\">*</abbr> #{raw t ".email.label"}".html_safe, 
        :class => "string required" %>
      <div class="input">
        <%= f.text_field :email, :class => "large string required unique", :size => 30, "data-validate" => "true" %>
      </div>
    </div>

    <div class="clearfix">
      <div class="input">
        <ul class="inputs-list">
          <li>
            <label for="user-terms">
              <%= f.check_box :terms, :id => "user-terms" %>
              <span><%=raw t ".terms" %></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </fieldset>
</div>
