<div class="inner">
  <h1><span><%= t "site.title" %></span></h1>
  <h2><%= t("splash.pages.index.teaser").html_safe %></h2>
  <h3 style="display:none;"><a href="/"><%= t("splash.pages.index.message").html_safe %></a></h3>
  <div class="float-unit">
    <div class="leftside">
      <h4>Register and Enter to Win.</h4>
      <p>
        If you are a professional or if you are looking for one, pre-register with us to find out more.
      </p>
      <p>
        When you enter you get a chance to win the new <em>iPad</em>.
        Don't forget to tell your friends if they win the grand price you win the new <em>Apple TV</em>.
      </p>
      <%= image_tag("fb/ipad-p24.png") %>
    </div>
    <div class="rightside">
      <div class="gradient"></div>
      <div class="front-signup">
        <h3><%= "Register to win." %></h3>
        <%= form_for @registration || Social::Registration.new, :validate => true, :remote => true, :html => {:class => "registration-form"} do |f| %>
          <div class="holding first-name">
            <%= f.text_field :first_name %>
            <span class="holder"><%= "First Name" %></span>
          </div>
          <div class="holding last-name">
            <%= f.text_field :last_name %>
            <span class="holder"><%= "Last Name" %></span>
          </div>
          <div class="holding email">
            <%= f.text_field :email, :type => "email", :autocomplete => "off" %>
            <span class="holder"><%= t "splash.pages.index.form.fields.email.label" %></span>
          </div>
          <%= f.hidden_field :time_zone %>
          <%= f.submit "Submit", :class => "submit button promotional" %>
        <% end %>
        <% if @registration && @registration.errors.any? %>
        <div class="form-errors">
          <ul>
          <% @registration.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
        <% end %>
      </div>
      <div class="front-response">
        <h3><%= t ".response" %></h3>
      </div>
    </div>
  </div>
</div>