<div class="inner">
  <h1><span><%= t "site.title" %></span></h1>
  <h2><%= t("splash.pages.index.teaser").html_safe %></h2>
  <h3 style="display:none;"><a href="/"><%= t("splash.pages.index.message").html_safe %></a></h3>
  <div class="float-unit">
    <div class="leftside">
      <h4><%= t(".call").html_safe %></h4>
      <p>
        <%= t(".explain").html_safe %>
      </p>
      <p>
        <%= t(".chance").html_safe %>
      </p>
      <%= image_tag("fb/ipad-atv-p24.png") %>
    </div>
    <div class="rightside">
      <div class="gradient"></div>
      <div class="front-signup">
        <h3><%= t(".action") %></h3>
        <%= form_for @registration || Social::Registration.new, :validate => true, :html => {:class => "registration-form"} do |f| %>
          <div class="holding first-name">
            <%= f.text_field :first_name %>
            <span class="holder"><%= t(".form.fields.first_name") %></span>
          </div>
          <div class="holding last-name">
            <%= f.text_field :last_name %>
            <span class="holder"><%= t(".form.fields.last_name") %></span>
          </div>
          <div class="holding email">
            <%= f.text_field :email, :type => "email", :autocomplete => "off" %>
            <span class="holder"><%= t(".form.fields.email") %></span>
          </div>
          <%= f.hidden_field :time_zone %>
          <%= f.submit t(".form.submit"), :class => "submit button promotional" %>
        <% end %>
        <% if @registration && @registration.errors.any? %>
        <div class="form-errors">
          <ul>
          <% @registration.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
        <% end %>
      </div>
      <div class="front-response">
        <h3><%= t ".response" %></h3>
      </div>
    </div>
  </div>
</div>