<ul class="footer-nav">
  <li><a href="/about"><%= t(".about") %></a><span class="dot">·</span></li>
  <li><a href="/help"><%= t(".help") %></a><span class="dot">·</span></li>
  <li><a href="/blog"><%= t(".blog") %></a><span class="dot">·</span></li>
  <li><a href="/jobs"><%= t(".jobs") %></a><span class="dot">·</span></li>
  <li><a href="/tos"><%= t(".terms") %></a><span class="dot">·</span></li>
  <li><a href="/privacy"><%= t(".privacy") %></a><span class="dot">·</span></li>
  <li><a href="/guidelines"><%= t(".guidelines") %></a><span class="dot">·</span></li>
  <li><span class="copyright">&copy; <%= Time.now.year %>&nbsp;<%= t(".company_name") %></span></li>
</ul>
