<div class="bottompart">
  <div class="mobile-complete">
    <%#= (I18n.t("layouts.social_application.powered_by") % link_to("luleka.com", "http://www.luleka.com", :target => "_blank")).html_safe %>
    <%#= (I18n.t("layouts.social_application.powered_by") % link_to("BVision", "http://bvision.com", :target => "_blank")).html_safe %>
  </div>
  <!-- locale -->
  <div class="language inline-list">
    <form action="<%= change_locale_path %>" id="change-locale-form" method="post">
      <input type="hidden" name="locale" value="">
      <input type="hidden" name="redirect" value="<%= url_for({}) %>">
      <strong><%= t "layouts.splash_application.languages" %></strong>
      <span class="dot">&nbsp;</span>
      <%= language_links %>
    </form>
  </div><!-- .inline-list -->
  <div class="footer inline-list">
    <ul class="footer-nav">
      <% if !@campaign.over? && !@campaign.hasnt_started_yet? %>
      <li>
        <%= link_to t("layouts.social_application.rules", :raise => true), 
          Rails.env.production? ? social_campaign_rules_url(:host => "luleka.com", :port => nil) : social_campaign_rules_path,
            :target => "_blank" %>
        <span class="dot">&middot;</span>
      </li>
      &nbsp;
      <% end %>
      <li><span class="copyright">&copy; <%= Time.now.year %>&nbsp;<%= t("site.title") %></span></li>
    </ul>
  </div>
</div>