<div id="campaign" class="over">
  <div class="inner">
    <h1><span><%= t "site.title" %></span></h1>
    <h2><%= t("splash.pages.index.teaser").html_safe %></h2>
    <h3 style="display:none;"><a href="/"><%= t("splash.pages.index.message").html_safe %></a></h3>
    <div class="float-unit">
      <div class="leftside">
        <h4><%= t(".headline", :raise => true) %></h4>
        <p>
          <%= t(".explain", :raise => true) %>
        </p>
      </div>
      <div class="rightside">
        <div class="gradient"></div>
        <div class="front-signup">
          <h3><%= t("splash.pages.index.action").html_safe %></h3>
          <%= form_for @registration || Registration.new, :validate => true, :remote => true do |f| %>
            <div class="holding email">
              <%= f.text_field :email, :type => "email", :autocomplete => "off" %>
              <span class="holder"><%= t "splash.pages.index.form.fields.email.label" %></span>
            </div>
            <%= f.hidden_field :time_zone %>
            <%= f.submit t("splash.pages.index.form.submit").html_safe, :class => "submit button promotional" %>
          <% end %>
        </div>
        <div class="front-response">
          <h3><%= t "splash.pages.index.response" %></h3>
        </div>
      </div>
    </div>
  </div>
</div>