<div id="campaign" class="invite">
  <div class="inner">
    <h1><span><%= t "site.title" %></span></h1>
    <h2><%= t(".headline").html_safe %></h2>
    
    <div class="float-unit">
      <div class="leftside">
        <p>
          <%= t(".congrats").html_safe %>
        </p>
        <p>
          <%= t(".tell").html_safe %>
        </p>
        <%= image_tag("fb/ipad-atv-p24.png") %>
      </div>
      <div class="rightside">
        <div class="front-signup">
          <a class="post promotional button"><%= t(".share") %></a>
        </div>
      </div>
    </div>
  </div>
</div>