<div class="leftside">
  <h1><span><%= t "site.title" %></span></h1>
  <h2><a href="/"><%= t ".coming_soon" %></a></h2>
  <p><%= t(".teaser").html_safe %></p>
</div>
<div class="rightside">
  <div class="gradient"></div>
  <div class="front-signup">
    <h3><%= t ".action" %></h3>
    <%= form_for @registration || Registration.new, :validate => true, :remote => true do |f| %>
      <div class="holding email">
        <%= f.text_field :email, :type => "email", :autocomplete => "off" %>
        <span class="holder"><%= t ".form.fields.email.label" %></span>
      </div>
      <%= f.hidden_field :time_zone %>
      <%= f.submit t(".submit"), :class => "submit button promotional" %>
    <% end %>
  </div>
  <div class="front-response">
    <h3><%= t ".response" %></h3>
  </div>
</div>
<% content_for :javascript do %>
<script type='text/javascript'>
  $.preload([
    "assets/nl/bg/dandelion-p8.png",
    "assets/nl/buttons/bg-btn-signup.png"
  ]);
  
  $(function() {
    if("<%= registered? %>" == "true") {
      $(".front-signup").hide();
      $(".front-response").show();
    } else {
      $(".front-signup").show();
      $(".front-response").hide();
    }
  });
</script>
<% end %>