<%
  with_custom_style ||= false
%>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= @title || "Newluleka" %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <% if false %>
  <link rel="profile" href="http://gmpg.org/xfn/11" />
  <link rel="pingback" href="<% "some_url" %>" />
  <% end %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>

  <% if with_custom_style %>
  <style type="text/css">
  <%
    @color_options = hostucan_get_options
    @b_c = @color_options['hostucan_background_color']
    @t_c = @color_options['hostucan_text_color']
    @l_c = @color_options['hostucan_links_color']
    @s_c = @color_options['hostucan_sidebar_color'];
    @sb_c = @color_options['hostucan_sidebar_border_color'];
  %>

  body {
    background-color: <%= html2rgb(@b_c, 1) %>;
    color: <%= html2rgb(@t_c) %>;
  }

  #main {
    background-color: <%= html2rgb(@s_c, 0.9) %>;
  }

  .commentlist li.comment:hover,
  .commentlist .pingback:hover,
  #container .teaser .hentry:hover,
  html #container .teaser .focused:hover
  {
    background-color: <%= html2rgb(@l_c, 0.1) %>;
    border-color: <%= html2rgb(@l_c, 0.15) %>;
  }

  a,
  .menu ul  li:hover  .children li a,
  .menu ul li:hover  .children li:hover .children a,
  #container .teaser .hentry:hover .entry-meta a,
  #container .teaser .hentry:hover .entry-date,
  .teaser .hentry:active .entry-title a,
  .teaser .hentry:hover .entry-title a {
    color: <%= html2rgb(@l_c) %>;
  }

  #content .page-title {
    background-color: <%= html2rgb(@l_c, 0.2) %>;
    border-color: <%= html2rgb(@l_c, 0.25) %>;
  }

  </style>
  <script type="text/javascript">
  var hostucan_pane_type = "<%= @color_options['hostucan_pane_type'] %>";
  </script>
  <% end %>
  
  <%= yield :head %>
</head>
