<!DOCTYPE html>
<html lang="<%= "#{I18n.locale_language}" %>" <%= I18n.rtl? ? 'dir=rtl' : "" %>>
<head>
  <meta charset="utf-8" />
  <title><%= page_title %></title>
  <%= javascript_include_tag "//connect.facebook.net/en_US/all.js" %>
  <%= javascript_include_tag "social/social_application" %>
  <%= javascript_include_tag "//platform.twitter.com/widgets.js" %>
  <%= stylesheet_link_tag    "social/social_application" %>
  <% if @campaign %>
  <script type="text/javascript">
  var context  = <%= session_data[:context].camelize.to_json.html_safe %>;
  var campaign = <%= session_data[:campaign].camelize.to_json.html_safe %>;
  $(function() {SocialBuilder.init();});
  <% if !inside_facebook? && Rails.env.production? -%>
    window.location = '<%= root_path %>';
  <% end %>
  
  window.insideFacebook = function() {
    return <%= inside_facebook? ? 'true' : 'false' %>;
  }
  
  window.fbAsyncInit = function() {
  FB.Canvas.setAutoGrow();
  }
  // Do things that will sometimes call sizeChangeCallback()
  function sizeChangeCallback() {
    FB.Canvas.setSize({width: 810, height: 700});
  }
  </script>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= body_id %>" class="<%= controller_name %>">
  <div id="wrapper">
    <div id="fb-root"></div>
    <div id="canvas">
      <%= yield %>
      <%= render 'social/campaigns/footer' %>
    </div>
  </div>
  <%= render "shared/tracking", :id => "UA-9091575-6" if Rails.env.production? -%>
</body>
</html>