<!DOCTYPE html>
<html lang="<%= "#{I18n.locale_language}" %>" <%= I18n.rtl? ? 'dir=rtl' : "" %>>
  <head>
    <meta charset="utf-8" />
    <title>Luleka Social Campaign</title>
    <%= javascript_include_tag "//connect.facebook.net/en_US/all.js" %>
    <%= javascript_include_tag "social/social_application" %>
    <%= javascript_include_tag "//platform.twitter.com/widgets.js" %>
    <%= stylesheet_link_tag    "social/social_application" %>
    <% if @campaign %>
      <script type="text/javascript">
        var context  = <%= session_data[:context].camelize.to_json.html_safe %>;
        var campaign = <%= session_data[:campaign].camelize.to_json.html_safe %>;
        $(function() {SocialBuilder.init();});
        window.insideFacebook = function() {
          return <%= inside_facebook? ? 'true' : 'false' %>;
        }
      </script>
    <% end %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller_name %>">
    <div id="wrapper">
      <div id="fb-root"></div>
      <div id="canvas">
        <%= yield %>
        <%= render 'social/campaigns/footer' %>
      </div>
    </div>
  </body>
</html>