<!DOCTYPE html>
<html lang="<%= "#{I18n.locale_language}" %>" <%= I18n.rtl? ? 'dir=rtl' : "" %>>
  <head>
    <meta charset="utf-8" />
    <meta content="<%= "#{I18n.locale}" %>" http-equiv="Content-Language" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= page_title %></title>
    <meta name="description" content="<%= t "site.tagline" %>">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "splash" %>
    <%= javascript_include_tag "splash" %>
    <%= csrf_meta_tag %>
    <%= ga_async_javascript_tag("UA-9091575-5") %>
    <%= yield :head %>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
  </head>
  <body class="splash-page narrow logged-out" id="landing <%= params[:controller].parameterize %>_controller">
    <%= yield :javascript %>
    <div id="wrapper">
      <div id="main">
        <div id="front-container">
          <%= yield %>
          <div class="bottompart">
            <!-- follow  -->
            <div class="mobile-complete">
              <%= t(".follow_us", :twitter => '<a href="http://twitter.com/luleka" target="_blank">Twitter</a>', 
                :facebook => '<a href="http://www.facebook.com/pages/Luleka/191923610825" target="_blank">Facebook</a>').html_safe %>
            </div>
            <!-- locale -->
            <div class="language inline-list">
              <form action="<%= change_locale_path %>" id="change-locale-form" method="post">
                <input type="hidden" name="locale" value="">
                <input type="hidden" name="redirect" value="<%= url_for({}) %>">
                <strong><%= t ".languages" %></strong>
                <span class="dot">&nbsp;</span>
                <%= language_links %>
              </form>
            </div><!-- .inline-list -->
            <div class="footer inline-list">
              <ul class="footer-nav">
                <li><span class="copyright">&copy; <%= Time.now.year %>&nbsp;<%= t("site.title") %></span></li>
              </ul>
            </div>
          </div>
        </div><!-- #front-container -->
      </div><!-- #main -->
    </div><!-- #wrapper -->
  </body>
</html>