<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= "Luleka" %></title>
    <meta name="description" content="">
    <meta name="author" content="Luleka Labs S.A.">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "splash" %>
    <%= javascript_include_tag "splash" %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body class="splash-page narrow logged-out" id="landing <%= params[:controller].parameterize %>_controller">
    <div id="wrapper">
      <div id="main">
        <div id="front-container">
          <%= yield %>
          <div class="bottompart">
            <!-- mobile obsolete  -->
            <div class="mobile-complete">
              Follow us on
              <a href="http://facebook.com/luleka">Facebook</a> or <a href="http://twitter.com/luleka">Twitter</a>
            </div>
            <!-- locale -->
            <div class="language inline-list">
              <form action="/sessions/change_locale" class="change-locale-form" method="POST">
                <input type="hidden" name="lang" value="">
                <input type="hidden" name="redirect" value="https://twitter.com/#!/login/">
                <strong>Languages</strong>
                <span class="dot">·</span>
                <em class="current">English</em>
                <span class="dot">·</span>
                <a href="?locale=de">Deutsch</a>
                <span class="dot">·</span>
                <a href="?locale=es">Español</a>
                <span class="dot">·</span>
                <a href="?locale=pt">Português</a>
                <span class="dot">·</span>
                <a href="?locale=it">Italiano</a>
                <span class="dot">·</span>
                <a href="?locale=fr">Français</a>
                <span class="dot">·</span>
                <a href="?locale=tr">Türkçe</a>
                <span class="dot">·</span>
                <a href="?locale=ru">Русский</a>
                <span class="dot">·</span>
                <a href="?locale=ja">日本語</a>
              </form>
            </div><!-- .inline-list -->
            <div class="footer inline-list">
              <ul class="footer-nav">
                <li><span class="copyright">&copy; <%= Time.now.year %>&nbsp;<%= t("site.legal_name", :raise => true) %></span></li>
              </ul>
            </div>
          </div>
        </div><!-- #front-container -->
      </div><!-- #main -->
    </div><!-- #wrapper -->
  </body>
</html>